button.button-component,
a.link-component {
  all: unset;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  gap: $unit * 0.5;
  cursor: pointer;
  border: 1.5px solid transparent;
  background-color: transparent;
  color: white;
  @include border-radius(1);
  @include transition("background-color", "color");

  &.text {
    color: var(--color-font);

    &:hover {
      color: var(--color-main);
    }
  }

  &.filled {
    color: var(--color-background);
    background-color: var(--color-main);

    &:hover {
      color: var(--color-background);
      background-color: var(--color-main);
    }
  }

  &.outline {
    color: var(--color-main);
    border-color: var(--color-main);

    &:hover {
      color: var(--color-background);
      border-color: var(--color-main);

      background-color: var(--color-main);
    }
  }

  &.empty {
    color: var(--color-font);

    &:hover {
      color: var(--color-main);
    }
  }

  &.center {
    justify-content: center;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.size-small {
    padding: $unit * 0.25 $unit * 0.75;

    span {
      font-size: 0.9em;
    }
  }

  &.size-medium {
    padding: $unit * 0.5 $unit;
  }

  &.size-large {
    padding: $unit;
  }

  &.size-empty {
    padding: 0;
  }

  .button-icon-element {
    display: flex;
    color: inherit;
  }

  span {
    font-weight: 600;
    color: inherit;

    &:empty {
      display: none;
    }
  }
}
