.doogma-component-wrapper {
  display: flex;
  flex-direction: column;
  padding: $unit * 0.5;
  user-select: none;
  border: 1px solid rgba(map-get($colors, font), 0.25);
  background-color: white;
  @include border-radius(1);

  &:hover {
    border-color: var(--color-main);

    > .doogma-component-header {
      > .doogma-component-info {
        > .doogma-component-actions {
          > .doogma-component-actions-multiple {
            > .doogma-component-action {
              opacity: 1;
              visibility: visible;
            }
          }

          > .doogma-component-action {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &.active {
    > .doogma-component-content {
      display: none;
    }
  }

  .doogma-component-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $unit;

    .doogma-component-info {
      display: flex;
      justify-content: space-between;
      gap: $unit;
      width: 100%;
      cursor: pointer;

      small.component-type {
        font-size: small;
        color: rgba(map-get($colors, font), 0.5);
      }

      .doogma-component-actions {
        display: flex;
        gap: $unit;
        z-index: 1;

        .doogma-component-action {
          all: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
          height: $unit * 3;
          aspect-ratio: 1;
          color: white;
          opacity: 0;
          visibility: hidden;
          background-color: rgba(map-get($colors, font), 0.5);
          @include border-radius(0.5);
          @include transition("opacity", "visibility", "background-color");

          &:hover {
            background-color: rgba(map-get($colors, main), 0.75);
          }
        }

        .doogma-component-actions-multiple {
          display: flex;
          flex-direction: column;
          gap: $unit * 0.25;
          height: 24px;

          .doogma-component-action {
            font-size: x-small;
          }
        }
      }
    }

    .doogma-component-remove {
      cursor: pointer;
      margin-left: auto;
    }
  }

  .doogma-component-content {
    display: flex;
    flex-direction: column;

    .doogma-component-preview {
      padding: $unit * 0.5;
    }

    .doogma-component-items {
      display: flex;
      flex-direction: column;
      gap: $unit;
      padding: $unit * 0.5;
      border-radius: 0 0 $unit $unit;

      .doogma-component-item {
        display: flex;
        flex-direction: column;
        gap: $unit;
        width: 100%;
        padding: $unit;
        border: 1px solid rgba(map-get($colors, font), 0.25);
        @include border-radius(1);

        small.item-type {
          font-size: x-small;
          color: rgba(map-get($colors, font), 0.5);
        }

        .doogma-component-drop-zone {
          display: flex;
          flex-direction: column;
          gap: $unit;
        }
      }
    }
  }
}
