aside.sidebar-component {
  display: flex;
  flex-direction: column;
  width: $unit * 40;
  min-height: 100vh;
  background-color: #e7eaed;
  @include transition("width");

  .sidebar-header {
    display: flex;
    align-items: center;
    padding: $unit;
    background-color: var(--color-main);
    color: white;

    p {
      flex-grow: 1;
      text-align: center;
      color: white;
    }
  }

  .sidebar-content {
    flex-grow: 1;

    .sidebar-components-wrapper {
      display: flex;
      flex-direction: column;
      gap: $unit;
      padding: $unit;
      overflow-y: overlay;
      max-height: calc(100vh - 36px - 60px);

      .doogma-item-wrapper {
        @include transition("outline");

        &.clone {
          opacity: 0.3;
        }
      }
    }
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $unit;

    button {
      flex-grow: 1;
      text-align: center;
    }

    input {
      display: none;
    }
  }
}
